# Prerequisites
*.d
# Object files
*.o
# Debug files
*.su

# Linker output
*.list
*.map
*.bin

#Others
/Documents/html/
/Debug/
/Release/
/.code_review_properties
*.bak
*.FCStd1
*.zip

#STM32Cube
*.launch
.mxproject
/.settings/

#macOS related
.DS_Store
._*
